@charset "utf-8";
/*corpo do texto*/
body{
    font-family: sans-serif;
}

/*cabeçalhos*/

.sopequeno {
    display: block;
}
.somedio {
    display: none;
}
.soGrande{
    display: none;
}
article{
    width: 90%;
    float: none;
    margin: auto;
}

/*imagens*/

article img{
    max-width: 100%;
}
/*corpo do texto*/
p{
    font-size: 1.2em;
}